################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoAlwaysEncrypted/src/packages
/DemoAlwaysEncrypted/src/SqlAlwaysEncDemo/bin
/DemoAlwaysEncrypted/src/.vs
/DemoAlwaysEncrypted/src/SqlAlwaysEncDemo/obj/Debug
/DemoDdm/src/SqlDdm/obj/Debug
/DemoDdm/src/SqlDdm/bin
/DemoDdm/src/packages
/DemoDdm/src/.vs
/DemoInMemory/src/.vs/SqlInMemDemo/v14
/DemoRls/src/SqlRlsDemo/obj/Debug
/DemoRls/src/SqlRlsDemo/bin
/DemoRls/src/packages
/DemoRls/src/.vs
/DemoSQLInjection/src/SqlInjectionDemo/obj/Debug
/DemoSQLInjection/src/SqlInjectionDemo/bin
/DemoSQLInjection/src/packages
/DemoSQLInjection/src/.vs
/DemoAppInsights/AppInsightsDemo/bin
/DemoAppInsights/AppInsightsDemo/obj
/DemoAppInsights/packages
/.vs
/DemoAppInsights/.vs/AppInsightsDemo/v15/.suo
/DemoAppServiceAuthAAD/AlexMangWeb
/DemoDdm/src/SqlDdm/obj/Release
/DemoInMemory/src
/DemoSQLInjection/src/SqlInjectionDemo/obj/Release
/DemoRls/src/SqlRlsDemo/obj/Release
/DemoAlwaysEncrypted/src/SqlAlwaysEncDemo/obj/Release
/DemoServiceBusLoader/DemoServiceBusLoader/.vs/DemoServiceBusLoader/v15
/DemoServiceBusLoader/DemoServiceBusLoader/DemoServiceBusLoader/bin/Debug
/DemoServiceBusLoader/DemoServiceBusLoader/DemoServiceBusLoader/obj
/DemoServiceBusLoader/DemoServiceBusLoader/packages/WindowsAzure.ServiceBus.4.1.3
/AzFuncButtonApp/AzFuncButtonApp.Simulator/bin/Debug
/AzFuncButtonApp/AzFuncButtonApp.Simulator/obj/Debug
/AzFuncButtonApp/packages
