@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <div style="padding-top:50px">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    @Html.TextBox("username", null, new { @class = "form-control", placeholder = "username" })
                </div>
                <div class="form-group">
                    @Html.TextBox("password", null, new { @class = "form-control", placeholder = "password" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" name="Login" class="btn btn-default" />
                </div>
            }
        </div>
    </div>
</div>